# Ignore Python source files
*.pyc
__pycache__/

# Ignore build directories
build/
dist/

# Ignore virtual environment directories
*.env/

# Ignore IDE metadata
.idea/
*.iml

# Ignore other directories
node_modules/
*.log